<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Death Count</ion-title>
    
  </ion-toolbar>
 
</ion-header>

<ion-content padding>
 <ion-searchbar placeholder="Search Death" [(ngModel)]="query" (ionInput)="search($event)" clearInput ></ion-searchbar>

	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let death of deaths | async" (click)="openDetails(death)">
        <!-- Season: {{death.season}}
        Death cause: {{death.cause}} -->
        {{ death.death }}
		</ion-item>
	</ion-list>
</ion-content>