<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Death Count</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar aria-placeholder="Search" (ionChange)= "onSearchChange($event)" ></ion-searchbar>
	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let death of deaths | async" (click)="openDetails(death)">
        Season: {{death.season}}
        Death cause: {{death.cause}}
        Death character: {{ death.death }}
		</ion-item>
	</ion-list>
</ion-content>