<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaultHref="/tabs/characters">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ character?.name }}</ion-title>
		<ion-buttons slot="end"></ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="character" class="movie-card">
		<ion-card-header>Character: </ion-card-header>
		<ion-card-content>
			Name: {{ character.name }}
		</ion-card-content>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="person-outline" slot="start"></ion-icon>
			Birthday: {{ character.birthday }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="star-outline" slot="start"></ion-icon>
			Occupation: {{ character.occupation }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="image-outline" slot="start"></ion-icon>
			Image: <img src="{{ character.img }}" alt="Character's photo!"> 
		</ion-item>
	</ion-card>

  <ion-row>
	    <ion-col>
	      <button ion-button icon-left clear small>
	        <ion-icon name="thumbs-up"></ion-icon>
	        <div>12,398 Likes</div>
	      </button>
	    </ion-col>
	    <ion-col>
	      <button ion-button icon-left clear small>
	        <ion-icon name="thumbs-up"></ion-icon>
	        <div>2,345 Dislike</div>
	      </button>
	    </ion-col>
	    <ion-col center text-center>
	      <ion-note>
	        (This is a persistent value)
	      </ion-note>
	    </ion-col>
	  </ion-row>

</ion-content>
