<ion-header>
<ion-toolbar color="primary">
	<ion-buttons slot="start" defaultHref="/tabs/characters">
		<ion-back-button></ion-back-button>
	</ion-buttons>
	<ion-title>{{ character?.name }}</ion-title>
	<ion-buttons slot="end">
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card *ngIf="character" class="movie-card">
    <ion-card-header>character {{ character.name }}: {{ character.name }}</ion-card-header>
    <ion-card-content>
      {{ character.name }}
    </ion-card-content>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="episode" slot="start"></ion-icon>
      Birthday: {{ character.birthday }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Occupation: {{ character.occupation }}
    </ion-item>
    <ion-item class="movie-info" lines="none">
      <ion-icon name="calendar" slot="start"></ion-icon>
      Image: {{ character.img }}
    </ion-item>
  </ion-card>

</ion-content>
