<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaultHref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ episode?.title }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngIf="episode" class="movie-card">
		<ion-card-header>Episode: {{ episode.episode }}</ion-card-header>
		<ion-card-content>
			Episode Season: {{ episode.season }}
		</ion-card-content>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="people-circle-outline" slot="start"></ion-icon>
			Characters: {{ episode.characters }}
		</ion-item>
		<ion-item class="movie-info" lines="none">
			<ion-icon name="calendar" slot="start"></ion-icon>
			Release Date: {{ episode.air_date }}
		</ion-item>
	</ion-card>

	<ion-row>
		<ion-col>
			<button ion-button icon-left clear small>
	        <ion-icon name="thumbs-up"></ion-icon>
	        <div>1 million Likes</div>
	      </button>
		</ion-col>
		<ion-col>
			<button ion-button icon-left clear small>
	        <ion-icon name="thumbs-up"></ion-icon>
	        <div>0 Dislike</div>
	      </button>
		</ion-col>
		<ion-col center text-center>
			<ion-note>
				(This is a persistent value)
			</ion-note>
		</ion-col>
	</ion-row>

</ion-content>